._header {
    height: 50px;
    background: #AD252A;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 20px;
    .logo {
        display: flex;
        img {
            height: 44px;
            width: 44px;
            margin: auto 0;
        }
        span {
            margin: auto 0;
            font-size: 24px;
            font-weight: bold;
            padding-left: 3px;
        }
    }
    .action {
        margin: auto 0;
        a {
            color: white;
        }
    }

}
