.m_header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;

    .title {
        width: 30%;
        .name {
            font-size: 24px;
        }
    }
    .actions {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin: auto 0;
        a, button {
            padding: 5px 10px;
            border: 1px solid #cccccc;
            background: #ffffff;
            margin-right: 5px;
            cursor: pointer;
            font: 400 13px 'Open Sans', sans-serif;
            color: black;
            text-decoration: none;
            display: inline-block;
            &:hover {
                background: #cccccc;
            }
        }
        .group {
            display: inline-table;
            margin-right: 5px;
            position: relative;
            &:first-child {
                margin-left: auto;
            }
            a, button {
                margin-right: 0;
                border-right: 0;
                &:last-of-type {
                    border-right: 1px solid #cccccc;
                }
            }
            .show_dropdown {
                position: relative;
                &.active {
                    background: #cccccc;
                }
            }
            .dropdown {
                position: absolute;
                top: 28px;
                left: 0;
                background: white;
                border: 1px solid #edd;
                width: 100%;
                display: none;
                text-align: left;
                div {
                    display: flex;
                }
                button {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #edd;
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.table {
    table {
        width: 100%;
        border-spacing: 0;
        td {
            word-break: break-word;
            border-bottom: 1px solid #dddddd;
            padding: 5px 5px 5px 0;

            .input {
                margin-bottom: 5px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.checkbox_input {
                    display: flex;
                    input {
                        width: auto;
                    }
                }
                &.info_list {
                    display: flex;
                    select {
                        width: 100px;
                        margin-right: 10px;
                    }
                    input {
                        margin-right: 10px;
                        &:last-of-type {
                            width: 100px;
                        }
                        &:first-of-type {
                            width: 100%;
                        }
                    }
                    .delete {
                        background: #c9302c;
                        color: white;
                        border-radius: 3px;
                        border: 1px solid #a22a28;
                        cursor: pointer;
                    }
                }
                .checkbox_group {
                    display: flex;
                    justify-content: space-between;
                    input[type="checkbox"] {
                        padding: 0;
                        margin: 0;
                    }
                }
                .group_select {
                    display: flex;
                    justify-content: flex-start;
                    .block_select {
                        display: flex;
                        margin-right: 30px;
                        .colon {
                            font-weight: bold;
                            margin: auto 5px;
                        }
                    }
                }
                .group_input {
                    display: flex;
                    justify-content: space-between;
                    &.two {
                        input {
                            width: 49%;
                        }
                    }
                }
            }
            select, input, textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 5px;
                background: white;
            }
            input {
                position: relative;
                &:disabled {
                    background: #cccccc;
                }
            }

        }
        .header {
            border: 1px solid black;
            .select_all {
                width: 20px;
            }
            td {
                padding: 10px 0;
                border-bottom: 2px solid #dddddd;
            }
        }
        a {
            font-weight: bold;
            color: #333333;
            text-decoration: none;
        }
    }
}

.m_filters {
    margin: 20px 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    .f_title {
        color: #a22a28;
        cursor: pointer;
        font-size: 16px;
        background: #F5F5F5;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: bold;
        &.active {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .filters {
        display: none;
        border-top: 1px solid #dddddd;
        padding: 0 15px 15px 15px;
        .field {
            margin-top: 15px !important;
        }
    }
}

.m_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    #logs {
        width: 100%;
        height: 400px;
        margin-top: 20px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        overflow-y: scroll;
        padding: 10px;
        div {
            font-size: 16px;
            padding-bottom: 5px;
            border-bottom: 1px solid #cccccc;
        }
    }
    small {
        font-size: 11px;
        font-weight: normal;
    }
    .field {
        border: 1px solid #cccccc;
        border-radius: 10px;
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &:first-of-type {
            margin-top: 0;
        }
        &.w50 {
            width: 49%;
            @media (max-width: 1200px) {
                width: 100%;
            }
        }
        .title {
            padding: 10px;
            border-bottom: 1px solid #cccccc;
            background: #f5f5f5;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: bold;
            width: 100%;
        }
        .body {
            width: 100%;
            padding: 10px;

            &.w50 {
                width: 49%;
                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
            .add {
                background: #3071a9;
                color: white;
                border-radius: 3px;
                border: 1px solid #2f669d;
                margin-top: 10px;
                padding: 5px 10px;
                cursor: pointer;
            }
            .input {
                margin-bottom: 5px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.checkbox_input {
                    display: flex;
                    input {
                        width: auto;
                    }
                }
                &.info_list {
                    display: flex;
                    select {
                        width: 100px;
                        margin-right: 10px;
                    }
                    input {
                        margin-right: 10px;
                        &:last-of-type {
                            width: 100px;
                        }
                        &:first-of-type {
                            width: 100%;
                        }
                    }
                    .delete {
                        background: #c9302c;
                        color: white;
                        border-radius: 3px;
                        border: 1px solid #a22a28;
                        cursor: pointer;
                    }
                }
                .checkbox_group {
                    display: flex;
                    justify-content: space-between;
                    input[type="checkbox"] {
                        padding: 0;
                        margin: 0;
                    }
                }
                .group_select {
                    display: flex;
                    justify-content: flex-start;
                    .block_select {
                        display: flex;
                        margin-right: 30px;
                        .colon {
                            font-weight: bold;
                            margin: auto 5px;
                        }
                    }
                }
                .group_input {
                    display: flex;
                    justify-content: space-between;
                    &.two {
                        input {
                            width: 49%;
                        }
                    }
                }
            }
            .label {
                font-weight: bold;
                padding-bottom: 5px;
            }
            select, input, textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 5px;
                background: white;
            }
            textarea {
                resize: vertical;
            }
            select[multiple] {
                height: 89px;
                resize: none;
            }
            input {
                position: relative;
                &:disabled {
                    background: #cccccc;
                }
            }
            &.options {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .input {
                    display: flex;
                    width: 33%;
                    .label {
                        font-weight: normal;
                    }
                    input[type="checkbox"] {
                        width: auto;
                    }
                }

            }
        }
    }

    .actions {
        &.right {
            width: 100%;
            text-align: right;
        }
        button, a {
            color: white;
            border-radius: 3px;
            margin-top: 10px;
            padding: 5px 10px;
            cursor: pointer;
            font: 400 13px 'Open Sans', sans-serif;
            text-decoration: none;
            display: inline-block;
        }
        .save {
            background: #3071a9;
            border: 1px solid #2f669d;
        }
        .cancel {
            background: white;
            color: #000;
            border: 1px solid #d5d5d5;
        }
        .delete {
            background: #ff2906;
            color: white;
            border: 1px solid #d5d5d5;
        }
    }
}

.m_mails {
    display: none;
    .body {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .title {
            font-size: 30px;
            color: #333333;
            margin-bottom: 20px;
        }
        .input {
            width: 49%;

            textarea {
                width: 100%;
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 5px;
                background: white;
                resize: vertical;
            }
        }
        .instruction {
            width: 49%;
            ul {
                margin: 0 0 20px 0;
                padding: 0 0 0 20px;
            }
            button {
                padding: 5px 10px;
                border: 1px solid #cccccc;
                background: #ffffff;
                margin-right: 5px;
                cursor: pointer;
                font: 400 13px 'Open Sans', sans-serif;
                color: black;
                text-decoration: none;
                display: inline-block;
                border-radius: 3px;
                &:hover {
                    background: #cccccc;
                }
            }
        }
    }
}

.m_tabs {
    .tabs {
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 0;
        }
        .item {
            background: gray;
            border-radius: 5px 5px 0 0;
            border: 1px solid #ddd;
            padding: 10px 15px;
            margin-right: 1px;
            color: white;
            border-bottom: 0;
            margin-bottom: -1px;
            cursor: pointer;
            text-decoration: none;

            @media (max-width: 768px) {
                border: 1px solid #ddd;
                margin: 5px;
                border-radius: 5px;
                width: 45%;
                text-align: center;
            }

            &:hover {
                background: #9f9999;
            }
            &.active {
                position: relative;
                color: black;
                background: white;
            }

        }

        &.style2 {
            border-bottom: none;
            .item {
                border: 1px solid #ddd;
                border-radius: 3px;
            }
        }
    }
    .tab {
        display: none;
        &.active {
            display: block;
        }
    }
}

.auth_form {
    width: 300px;
    margin: auto;
    .field {
        border: none;
        .title {
            background: transparent;
            font-size: 20px;
            padding: 10px 0;
        }
        .body {
            padding: 10px 0;
            small {
                color: red;
                font-weight: bold;
            }
        }
    }
}

.m_modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    display: none;
    .body {
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 20px;
        border-radius: 3px;
        position: relative;
        background: white;
        .close {
            position: absolute;
            right: -5px;
            top: -5px;
            background: white;
            padding: 3px 8px;
            border-radius: 50%;
            font-weight: bold;
            cursor: pointer;
            border: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.m_join {
    display: flex;
    margin-top: 15px;
    .title {
        padding: 5px;
        background: #428BCA;
        width: 100px;
        text-align: center;
        color: white;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
    }
    .input {
        width: 100%;
        border: 1px solid #cccccc;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        select {
            width: 100%;
            padding: 5px;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background: transparent;
        }
    }
}

.m_import {
    .header {
        font-size: 18px;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 10px;
        margin-bottom: 10px;
        span {
            font-size: 18px;
        }
    }
    .progress {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        margin-bottom: 10px;
        position: relative;
    }
    .line {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: green;
        z-index: 1;
        height: 0;
        opacity: 0.7;
    }
    .list {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        li {
            border-bottom: 1px solid #eeeeee;
            list-style: none;
            display: flex;
            padding: 3px;
            margin-bottom: 3px;
            &:last-of-type {
                border-bottom: none;
                margin-bottom: 0;
            }
            svg {
                margin-right: 5px;
                width: 16px;
                color: green;
            }
        }
    }
}

.m_overview {
    .block {
        width: 47%;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px;
        float: left;
        a {
            color: black;
            text-decoration: none;
        }
        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background: #f5f5f5;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-weight: bold;
            .count {
                background: #ad252a;
                display: inline-block;
                min-width: 10px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                line-height: 1;
                vertical-align: baseline;
                white-space: nowrap;
                text-align: center;
                border-radius: 10px;
            }
        }
        table {
            width: 100%;
            td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }
            tr {
                &:last-of-type {
                    td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.m_actions {
    button, a {
        color: white;
        border-radius: 3px;
        margin-top: 10px;
        padding: 5px 10px;
        cursor: pointer;
        font: 400 13px 'Open Sans', sans-serif;
        text-decoration: none;
        display: inline-block;
    }
    .save {
        background: #3071a9;
        border: 1px solid #2f669d;
    }
    .cancel {
        background: white;
        color: #000;
        border: 1px solid #d5d5d5;
    }
}
