._sidebar {
    width: 250px;
    padding: 20px 0;
    color: #873235;
    min-height: calc(100vh - 50px);
    overflow-y: auto;
    border-right: 1px solid #edd;
    .item {
        cursor: pointer;
        padding: 10px 25px;
        color: black;
        text-decoration: none;
        display: block;
        &:hover {
            background: #edd;
        }
        &.active {
            background: #AD252A;
            color: white;
        }

    }
}
