body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    ._content {
        width: calc(100% - 250px);
        padding: 10px;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

._arrow_down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    padding-bottom: 2px;
    &.revert {
        transform: rotate(180deg);
    }
}

._alert_message {
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: darkseagreen;
    font-weight: bold;
}

@import './backend/header';
@import './backend/sidebar';
@import './backend/module';
@import './backend/pagination';
@import './volunteer';
