body {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

*:focus {
    outline: none;
}

._arrow_down {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    padding-bottom: 2px;
}

.close_modal {
    cursor: pointer;
}

$robotoSlab: Roboto Slab, sans-serif;

@import './front/header';
@import './front/footer';
@import './front/content';
@import './front/organisation';
@import './front/pagination';
@import './front/modal';
@import './front/googleMap';
@import './volunteer';
