.volunteer_index {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 30px auto;
    border: 2px solid #f5f5f5;
    line-height: 20px;
    .left-panel {
        width: 40%;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        background: #f5f5f5;
        .logo {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            width: 100%;
            margin-bottom: 30px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .text {
            width: 100%;
            font-size: 16px;
            margin-bottom: 50px;
            b {
                font-size: 16px;
                font-weight: 700;
            }
        }
        .assistance {
            font-size: 16px;
            a {
                text-decoration: underline;
                color: #FF352C;
                font-weight: bold;
            }
        }
    }
    .right-panel {
        width: 60%;
        padding: 30px;
        .title {
            color: #9e313a;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .sub_title {
            color: #9e313a;
            font-size: 40px;
            font-weight: bold;
            line-height: 40px;
            margin: 15px 0;
        }
        .description {
            color: #333333;
        }
        .admonition {
            color: #9e313a;
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
            line-height: 27px;
        }
        form input[type="text"] {
            margin-top: 15px;
            border: none;
            border-bottom: 1px solid #9e0012;
            padding-bottom: 5px;
            color: #9e0012;
            width: 180px;
            margin-right: 50%;
            margin-bottom: 15px;

        }
        form input[type="submit"] {
            border-radius: 3px;
            background: #74242b;
            border-color: #74242b;
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
            width: auto;
            padding: 10px 25px;
            cursor: pointer;
        }
        .field {
            select {
                margin-top: 15px;
                border: none;
                border-bottom: 1px solid #9e0012;
                padding-bottom: 5px;
                color: #9e0012;
                width: 180px;
                margin-right: 50%;
                background: transparent;
                margin-bottom: 15px;
            }
        }

    }

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        max-width: 600px;
        .left-panel {
            width: 100%;
        }
        .right-panel {
            width: 100%;
        }
    }
}

.volunteer_search {
    .list {
        padding: 30px;

        .title {
            color: #9e313a;
            font-weight: bold;
            font-size: 20px;
        }

        .sub_title {
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 100%;
            border: 1px solid #989b94;
            background: #f5f5f5;
            margin-bottom: 15px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            .left-panel {
                padding-right: 15px;
                .title {
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0;
                    overflow: hidden;
                    word-break: break-all;
                }
                .sub_title {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }

        .right-panel {
            display: flex;
            a {
                padding: 10px 0;
                font-size: 18px;
                font-weight: bold;
                color: white;
                background: #9b3039;
                margin: auto 0;
                width: 120px;
                text-align: center;
                display: flex;
                justify-content: center;
                border-radius: 3px;
                text-decoration: none;
                img {
                    margin: auto 0 auto 5px;
                }
            }
        }
    }

    .feedback_form {
        background: #f5f5f5;
        padding: 25px;
        margin: 0px 30px 30px 30px;
        .title {
            font-size: 24px;
            font-weight: bold;
            color: #9e313a;
        }

        .input_label {
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
        }

        textarea {
            margin-top: 5px;
        }

        textarea:focus {
            outline: none;
        }

        textarea, input {
            width: 100%;
            border: 1px solid #3d3d3d;
            border-radius: 4px;
            padding: 10px;
            resize: none;
            font-size: 16px;
            margin-bottom: 0;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            button {
                padding: 8px 0;
                font-size: 17px;
                font-weight: bold;
                color: white;
                background: #9b3039;
                margin: auto 0;
                width: 120px;
                text-align: center;
                display: flex;
                justify-content: center;
                border-radius: 3px;
                border: 1px solid #9b3039;
                cursor: pointer;
            }
            div {
                margin: auto 0;
                padding-left: 15px;
                transition: all .3s;
                &:first-child {
                    width: 50%;
                }
            }
        }
    }

    .footer_actions {
        display: flex;
        justify-content: space-between;
        padding: 0px 30px 50px 30px;
        button, a {
            width: 49%;
            padding: 10px 0;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background: #9b3039;
            margin: auto 0;
            text-align: center;
            border-radius: 3px;
            text-decoration: none;
            border: 1px solid #9b3039;
            cursor: pointer;
        }
    }
}

.volunteer_form {
    .actions {
        &.right {
            width: 100%;
            text-align: right;
        }
        button, a {
            color: white;
            border-radius: 3px;
            margin-top: 10px;
            padding: 5px 10px;
            cursor: pointer;
            font: 400 13px 'Open Sans', sans-serif;
            text-decoration: none;
            display: inline-block;
        }
        .delete {
            background: #ff2906;
            color: white;
            border: 1px solid #d5d5d5;
        }
    }
    .back {
        color: #FF352C;
        display: flex;
        margin-top: 30px;
        text-decoration: none;
        .text {
            margin-left: 5px;
            font-weight: bold;
            border-bottom: 2px solid #FF352C;
        }
    }

    .instruction {
        background-color: #f5f5f5;
        display: flex;
        margin-top: 30px;
        padding: 30px;
        .text {
            margin-left: 40px;
        }
        h2 {
            font-size: 30px;
            margin-top: 0;
            color: #9e313a;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;

        }
        ul {
            margin: 0;
            padding-left: 20px;
            li {
                font-size: 16px;
                margin-left: 20px;
                margin-bottom: 10px;
                line-height: 22px;
                img {
                    color: #000000;
                    stroke: #000000;
                }
                a {
                    color: #000000;
                    font-weight: 400;
                    text-decoration: underline;
                }
            }
        }
    }

    .contact {
        background-color: #FFFFFF;
        border: 2px solid #f5f5f5;
        margin-bottom: 30px;
        margin-top: 30px;
        display: flex;
        padding: 30px;
        .text {
            margin-left: 40px;
            h2 {
                margin-top: 0;
                font-size: 24px;
                color: #9e313a;
                font-weight: bold;
                text-transform: uppercase;
            }
            h4 {
                text-transform: unset;
                font-size: 16px;
            }
            .complete {
                font-size: 16px;
                a {
                    color: #DB2921;
                    border-bottom: 2px solid;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }

    }

    .call-text {
        background-color: #f5f5f5;
        color: #333333;
        display: flex;
        font-weight: 600;
        font-size: 18px;
        padding: 15px 20px;
        .text {
            margin-left: 10px;
            font-size: 18px;
        }
        .image img {
            width: 28px;
            height: 22px;
        }
    }

    .step {
        display: flex;
        margin: 30px 20px;
        .number {
            border: 3px solid #333333;
            display: inline-flex;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            text-align: center;
            font-weight: bold;
            font-size: 28px;
            span {
                margin: auto;
                font-size: 28px;
            }
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin: auto 0 auto 15px;
            color: #333333;
        }
    }

    .question-section {
        margin-top: 20px;
        .question {
            background-color: #f5f5f5;
            color: #333333;
            padding: 15px 20px;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            img {
                width: 28px;
                height: 22px;
                margin: auto 0;
            }
            span {
                margin: auto 10px;
                font-size: 18px;
            }
        }
        .answer {
            padding: 20px 20px 10px 20px;
            border-bottom: 1px solid #f5f5f5;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            .option {
                display: flex;
                padding-bottom: 10px;
                flex-wrap: wrap;
                position: relative;
            }
            input[type="checkbox"] {
                width: 23px;
                height: 23px;
                transition: all 0.3s ease-in-out;
                background: transparent;
                color: white;
                font-size: 20px;
                line-height: 22px;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                margin: auto 10px auto 0;
            }
            input[type="checkbox"]:checked {
                background-color: #f5f5f5;
                border-color: #333333;
                color: #333333;
            }
            ._label {
                width: 100%;
                color: black;
                font-weight: bold;
            }
            label {
                margin: auto 0;
                color: #9e3039;
                font-size: 15px;
                font-weight: 600;
                line-height: 15px;
            }
            textarea {
                width: 100%;
                border: 1px solid #3d3d3d;
                border-radius: 4px;
                margin-top: 10px;
                padding: 10px;
                resize: none;
                font-size: 16px;
            }
        }
        ._col-2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .option {
                width: 49%;
            }
        }
    }

    .add_item {
        padding: 10px;
        background: #f5f5f5;
        border: 1px solid black;
        color: #333333;
        border-radius: 5px;
        cursor: pointer;
        display: inline-table;
        margin-top: 10px;
        &:hover {
            background: transparent;
            transition: all 0.5s ease-in-out;
        }
    }

    .w100p {
        width: 100%;
    }

    .w49p {
        width: 49%;
    }

    .day_title {
        font-size: 20px;
        margin-bottom: 5px;
        color: #333333;
    }

    .add_hours {
        margin-bottom: 15px;
        padding: 10px;
        color: #333333;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        &.disabled {
            opacity: 0.5;
        }
        .image {
            margin: auto 0;
        }
        .text {
            margin: auto 0 auto 5px;
            font-size: 16px;
            text-decoration: underline;
            font-weight: bold;
        }
    }
    .day_list {
        .item {
            display: flex;
            margin-bottom: 10px;
            input[type="time"] {
                border-right: none;
                margin-bottom: 0;
                padding-right: 0;
            }
            input[type="time"], input[type="time"]:focus {
                outline: none;
                border: 1px solid #eee;
                border-right: none;
            }
            select {
                width: 45px;
                border: 1px solid #eee;
                height: 40px;
                border-left: none;
                outline: none;
                margin-bottom: 0;
                background: transparent;
            }
            .form {
                display: flex;
            }
            .divider {
                margin: auto 10px;
                width: 15px;
                height: 2px;
                background: #8c8585;
            }
        }
        .time_day {
            border: 1px solid #eee !important;
            width: 240px !important;
        }
    }

    #day_time_list {
        .day_name {
            font-weight: 600;
            font-size: 16px;
            width: 100px;
            display: inline-block;
            margin-right: 15px;
            text-align: right;
        }
        .day_times {
            font-size: 16px;
        }
        .closed {
            opacity: 0.5;
        }
    }

    .send_request {
        text-align: center;
        margin: 20px 0;
        input[type="button"] {
            font-size: 18px;
            font-weight: bold;
            color: white;
            background: #9b3039;
            margin: auto 0;
            text-align: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid black;
            padding: 10px 30px;
        }
        .admin_actions input[type="button"] {
            border: none;
            width: auto;
        }
        .unable {
            margin-top: 10px;
            font-size: 16px;
            color: #FF352C;
            background: transparent;
            font-weight: bold;
            border: none;
            border-bottom: 2px solid #FF352C;
        }
    }

    #modalFormSuccess, #modalFormUncomplete {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 10000;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;

        textarea {
            width: 100%;
            border-radius: 5px;
            border: 1px solid #cccccc;
            padding: 5px;
            background: white;
        }

        label, ._label {
            margin: auto 0;
            color: #9e3039;
            font-size: 15px;
            font-weight: 600;
            line-height: 15px;
        }
    }

    #modalFormSuccess .modal-content, #modalFormUncomplete .modal-content {
        border-radius: 3px;
    }

    #modalFormSuccess .modal-content .modal-body .title, #modalFormUncomplete .modal-content .modal-body .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    #modalFormSuccess .modal-content .modal-footer, #modalFormUncomplete .modal-content .modal-footer {
        text-align: center;
    }

    #modalFormSuccess .modal-content .modal-footer button, #modalFormUncomplete .modal-content .modal-footer button {
        padding: 10px 0;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: #9b3039;
        margin: auto 0;
        width: 120px;
        text-align: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #9b3039;
    }

    #modalFormSuccess .modal-content .modal-body .option, #modalFormUncomplete .modal-content .modal-body .option {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 5px 10px 5px;
    }

    #modalFormUncomplete .modal-content .modal-body .wrong_option {
        background: #f5f5f5;
    }

    #modalFormUncomplete .modal-content .modal-body .wrong_option:last-child {
        background: #f5f5f5;
        margin-bottom: 5px;
    }

    #modalFormUncomplete .modal-content .modal-body .wrong_option label {
        padding-bottom: 5px;
    }

    #modalFormUncomplete .modal-content .modal-body .wrong_active {
        background: #f5f5f5;
    }

    #modalFormSuccess .modal-content .modal-body .option input[type="checkbox"], #modalFormUncomplete .modal-content .modal-body .option input[type="checkbox"] {
        width: 23px;
        height: 23px;
        transition: all 0.3s ease-in-out;
        background: transparent;
        color: white;
        font-size: 20px;
        line-height: 22px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        margin: auto 10px auto 0;
    }

    #modalFormUncomplete .modal-content .modal-body .wrong_option input[type="checkbox"] {
        border: 1px solid #3d3d3d;
    }

    #modalFormUncomplete .modal-content .modal-body .option input[type="text"] {
        margin: 0;
        border: 1px solid #3d3d3d;
        border-radius: 3px;
        width: 100%;
        padding: 7px;
    }

    #modalFormSuccess .modal-content .modal-body .option input[type="checkbox"]:checked, #modalFormUncomplete .modal-content .modal-body .option input[type="checkbox"]:checked {
        background-color: #f5f5f5;
        border-color: #333333;
        color: #333333;
    }

    #modalFormSuccess .modal-content .modal-body .option label, #modalFormUncomplete .modal-content .modal-body .option label {
        margin: auto 0;
        width: 90%;
    }

    #phone_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #email_list {
        flex-wrap: wrap;
        display: flex;
    }

    #phone_list textarea {
        width: 49%;
    }

    .clockpicker input[type="text"] {
        border: 1px solid #eee;
        border-right: none;
        border-radius: 0;
        padding-right: 0;
        width: 50px;
        box-shadow: none;
    }

    .clockpicker input[type="text"]:focus {
        outline: none;
        box-shadow: none;
    }

    .button_actions {
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: #9b3039;
        margin: auto 0;
        width: 120px;
        text-align: center;
        justify-content: center;
        border-radius: 3px;
        display: inline-block;
        border: none;
        padding: 1px 6px;
    }

    .form .change_time {
        text-align: center;
    }

    .change_time input {
        width: 40px;
        margin-bottom: 0px;
        text-align: center;
        height: 40px;
        outline: none;
        box-shadow: none;
        border: 1px solid #eee;
    }

    .wickedpicker {
        z-index: 5;
        width: 150px !important;
    }

    .time_hour {
        border-right: 0 !important;
    }

    .time_min {
        border-left: 0 !important;
        border-right: 0 !important;
    }

    .time_type {
        border-left: 0 !important;
        padding: 0;
    }

    .change_time .separator {
        position: absolute;
        top: 4px;
        z-index: 2;
        right: -3px;
        font-size: 20px;
        color: #878684;
    }

    .time_hour:focus,
    .time_min:focus,
    .time_type:focus {
        outline: none;
        border-color: #eee;
    }

    .from_time, .to_time {
        display: flex;
    }

    .change_time input::-webkit-outer-spin-button,
    .change_time input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .change_time input[type=number] {
        -moz-appearance: textfield;
    }

    .type_description_help {
        background: #84151f;
        border-radius: 50%;
        width: 13px;
        color: white;
        text-align: center;
        margin-left: 2px;
        font-size: 10px;
        height: 13px;
        cursor: pointer;
    }

    .type_description {
        display: none;
        position: absolute;
        top: 25px;
        left: 0;
        border-radius: 3px;
        padding: 5px;
        background: #f5f5f5;
        color: #333333;
        z-index: 1;
        border: 1px solid #3d3d3d;
    }

    .actions {
        button, a {
            color: white;
            border-radius: 3px;
            margin-top: 10px;
            padding: 5px 10px;
            cursor: pointer;
            font: 400 13px 'Open Sans', sans-serif;
            text-decoration: none;
            display: inline-block;
        }
        .save {
            background: #3071a9;
            border: 1px solid #2f669d;
        }
        .update {
            background: #00a90b;
            border: 1px solid #029819;
        }
        .delete {
            background: #ff000e;
            color: white;
            border: 1px solid #cc000e;
        }
    }
}
