._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    ._subheader {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;
        .title {
            width: 69%;
            text-align: center;
            margin-top: auto;
            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 10px;
            }
            .text {
                font-size: 56px;
                font-weight: bold;
                color: #9e313a;
                font-family: $robotoSlab;
                @media (max-width: 768px) {
                    font-size: 44px;
                }
            }
            .change_language {
                color: #9e3039;
                border: 2px solid #9e3039;
                border-radius: 15px;
                padding: 6px 13px;
                font-weight: bold;
                font-size: 13px;
                background: white;
                text-decoration: none;
            }
        }
        .description {
            width: 30%;
            margin-bottom: 30px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
    ._tabs {
        display: flex;
        margin-top: 15px;
        border-bottom: 1px solid #ddd;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 0;
        }
        .item {
            background: gray;
            border-radius: 5px 5px 0 0;
            border: 1px solid #ddd;
            padding: 10px 15px;
            margin-right: 1px;
            color: white;
            border-bottom: 0;
            margin-bottom: -1px;
            cursor: pointer;
            text-decoration: none;

            @media (max-width: 768px) {
                border: 1px solid #ddd;
                margin: 5px;
                border-radius: 5px;
                width: 45%;
                text-align: center;
            }

            &:hover {
                background: #9f9999;
            }
            &.active {
                position: relative;
                color: black;
                background: white;
            }

        }
    }
    .inactive_page {
        margin-top: 15px
    }
}

#map {
    margin: 10px 0;
    height: 400px;
}
