._footer {
    background: #EEECEA;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    margin-top: 40px;
    position: relative;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        padding: 30px 15px 0 15px;
    }
    .block {
        width: 33%;
        min-height: 180px;
        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            min-height: auto;
        }
    }
    .logo {
        margin-right: 20px;
        display: flex;
        height: 58px;
        @media (max-width: 768px) {
            justify-content: center;
        }
        img {
            width: 58px;
        }
        .text {
            margin: auto 0 auto 7px;
            color: #A62239;
            font-weight: bold;
            font-size: 20px;
        }
    }
    .address {
        color: #645850;
        margin-top: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

    .information {
        @media (max-width: 768px) {
            margin: 20px 0;
        }
        .title {
            font-family: $robotoSlab;
            color: #645850;
            font-size: 16px;
            text-transform: capitalize;
            margin-bottom: 25px;
            font-weight: 700;
            line-height: 14px;
        }
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            a {
                width: 21%;
                color: #645850;
                text-decoration: none;
                margin-right: 10px;
                margin-top: 5px;
                font-weight: 600;
                font-size: 13px;
                @media (max-width: 1200px) {
                    width: 30%;
                }
                @media (max-width: 1024px) {
                    width: 40%;
                }
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    .socials {
        display: flex;
        justify-content: center;
        .search {
            width: 16px;
            margin: auto 7px auto 0;
            svg {
                fill: #99999E;
            }
        }
        a {
            border-radius: 50%;
            border: 2px solid #645850;
            width: 32px;
            height: 32px;
            display: flex;
            padding: 6px;
            margin-right: 7px;
            svg {
                width: 14px;
                margin: auto;
                color: #99999E;
            }
            &:hover {
                svg {
                    color: #9b3039;
                }
            }
            &:first-of-type {
                svg {
                    width: 10px;
                }
            }
        }
    }
    .gif {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 50px;
        @media (max-width: 768px) {
            position: relative;
            bottom: 0;
            right: 0;
        }
    }
}
