._container_map {
    position: relative;

    #map {
        height: 100vh;
    }

    #loader_gif {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        display: flex;
        transition: all .3s;
        img {
            height: 300px;
            margin: auto;
        }
    }

    .search {
        width: 100%;
        position: absolute;
        top: 50px;
        z-index: 2;
        .actions {
            display: flex;
            width: 70%;
            margin: auto;
            height: 40px;
            @media (max-width: 768px) {
                width: 95%;
            }
            input {
                border: 1px solid #cccccc;
                border-radius: 5px;
                width: 100%;
                padding: 8px 12px;
                background: white;
                margin-right: 10px;
            }
            button {
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid #cccccc;
                padding: 6px 12px;
                color: #333333;
                background: white;
                &:hover {
                    background: #e6e6e6;
                }
            }
        }
    }
}


