._header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    .menu {
        display: flex;
        height: 60px;
        margin: auto 0;

        .adaptive_menu {
            display: flex;
            z-index: 999;
            @media (max-width: 1280px) {
                display: none;
                position: absolute;
                width: calc(100% - 20px);
                left: 10px;
                top: 85px;
                padding: 10px;
                border-radius: 5px;
                color: black;
                border: 1px solid #9E313A;
                background: #ffffff;
                .show_sub_menu {
                    display: block;
                    .title {
                        justify-content: center;
                    }
                    .sub_menu {
                        display: block;
                        position: relative;
                        top: 0;
                        background: transparent;
                        padding: 10px 20px;
                        a {
                            color: #333333;
                            border-bottom: 1px solid #645850;
                            padding: 10px 0;
                        }
                    }
                }
            }
        }

        .show_adaptive_menu {
            display: none;
            margin-right: 10px;
            svg {
                width: 30px;
                color: #333333;
            }
            @media (max-width: 1280px) {
                display: flex;
            }
        }

    }
    .logo {
        margin-right: 20px;
        display: flex;
        height: 58px;
        text-decoration: none;
        img {
            width: 58px;
        }
        .text {
            margin: auto 0 auto 7px;
            color: #A62239;
            font-weight: bold;
            font-size: 20px;
        }
    }
    .show_sub_menu {
        position: relative;
        margin-right: 15px;
        cursor: pointer;
        display: flex;
        .title {
            margin: auto 0;
            text-transform: uppercase;
            display: flex;
            color: #645850;
            font-size: 12px;
            font-weight: bold;
            img {
                width: 16px;
                margin-left: 5px;
            }
        }
        .sub_menu {
            background: #AA9F97;
            display: none;
            position: absolute;
            top: 55px;
            left: 0px;
            padding: 20px;
            min-width: 200px;
            z-index: 10;
            a {
                display: block;
                color: white;
                padding: 10px 0;
                border-bottom: 1px solid #645850;
                text-decoration: none;
                font-size: 12px;
                font-weight: bold;
                &:first-of-type {
                    padding: 0 0 10px 0;
                }
                &:last-of-type {
                    padding: 10px 0 0 0;
                    border-bottom: none;
                }
                &:hover {
                    color: #645850;
                }
            }
        }
    }
    .actions {
        display: flex;
        button, a {
            display: flex;
            width: 130px;
            margin: auto 0;
            justify-content: center;
            background: transparent;
            cursor: pointer;
            text-decoration: none;
            &:first-of-type {
                margin-right: 10px;
            }
            &.search {
                height: 62px;
                color: #9fae3c;
                border: 2px solid #9fae3c;
                svg {
                    fill: #9fae3c;
                }
            }
            &.volunteer {
                height: 62px;
                color: #8eb8c7;
                border: 2px solid #8eb8c7;
                svg {
                    fill: #8eb8c7;
                }
            }
            &.donate {
                border: none;
                img {
                    height: 73px;
                }
            }
            svg {
                width: 20px;
                margin: auto 3px auto 0;
            }
            .text {
                margin: auto 0;
                font-weight: bold;
            }
        }
        .search, .volunteer {
            @media (max-width: 768px) {
                display: none;
            }
        }
        .donate {
            @media (max-width: 380px) {
                display: none;
            }
        }
    }
}
