._modal {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    display: none;

    .body {
        margin: auto;
        width: 90%;
        max-width: 800px;
        height: auto;
        padding: 20px;
        position: relative;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #000;

        .close {
            position: absolute;
            right: -5px;
            top: -5px;
            background: white;
            padding: 5px 8px;
            border-radius: 50%;
            font-weight: bold;
            cursor: pointer;
            border: none;
        }

        .title {
            font-family: $robotoSlab;
            color: #9e313a;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 30px;
            text-align: center;
        }

        .message {
            max-height: 200px;
            overflow-y: auto;
            font-size: 14px;
            color: #333333;
            text-align: justify;
        }

        ::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }

        ::-webkit-scrollbar-button {
            background-color: #9e313a;
            opacity: 0.5;
            height: 3px;
        }

        ::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        ::-webkit-scrollbar-thumb {
            height: 50px;
            background-color: #9e313a;
        }

        ::-webkit-scrollbar-track {
            background-color: #9e313a;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #ffffff;
        }
    }
}

.m_modal {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    display: none;
    .body {
        max-width: 600px;
        margin: 20px auto 20px auto;
        padding: 20px;
        border-radius: 3px;
        position: relative;
        background: white;
        @media (max-width: 620px) {
            margin: 20px;
        }
        .close {
            position: absolute;
            right: -2px;
            top: -3px;
            background: white;
            padding: 4px 8px;
            border-radius: 50%;
            font-weight: bold;
            cursor: pointer;
            border: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
