.organisations {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 100%;
    .list {
        width: 65%;
        @media (max-width: 768px) {
            width: 100%;
        }
        .title {
            font-family: $robotoSlab;
            font-size: 30px;
            font-weight: bold;
            color: #9e313a;
            text-transform: uppercase;
            a {
                word-break: break-word;
            }
            i {
                font-size: 30px;
            }
            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
        .orders {
            border: 1px solid #a0a0a0;
            display: flex;
            justify-content: space-between;
            .item {
                border-right: 1px solid #a0a0a0;
                padding: 10px;
                width: 25%;
                text-align: center;
                color: #9b3039;
                font-weight: 600;
                &:last-of-type {
                    border-right: none;
                }
                &.order {
                    cursor: pointer;
                }
            }
        }
        .description {
            padding: 20px 0;
        }
        .pagination {
            display: flex;
            justify-content: space-between;
            .print {
                cursor: pointer;
                color: white;
                background: #428bca;
                border-radius: 5px;
                border: 1px solid #3071a9;
                padding: 0 10px;
                &:hover {
                    background: #3071a9;
                }
            }
        }
        .items {
            margin-top: 20px;
            .item {
                padding: 10px 15px;
                border: 1px solid #dddddd;
                border-bottom: none;

                &:first-of-type {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
                &:last-of-type {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                    border-bottom: 1px solid #dddddd;
                }

                .title {
                    a {
                        font-family: $robotoSlab;
                        font-size: 30px;
                        font-weight: bold;
                        color: #9e313a;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
                .type {
                    font-family: $robotoSlab;
                    font-size: 18px;
                    font-weight: bold;
                    color: #9e313a;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    b {
                        font-size: 18px;
                        font-family: $robotoSlab;
                    }
                }
                .field {
                    margin-bottom: 5px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    b {
                        color: #333333;
                    }
                }
                .quick_details {
                    border: 1px solid #a0a0a0;
                    border-radius: 5px;
                    margin-top: 15px;
                    cursor: pointer;
                    .name {
                        border-radius: 5px;
                        background: #f5f5f5;
                        font-family: $robotoSlab;
                        font-size: 16px;
                        font-weight: bold;
                        color: #9e313a;
                        text-transform: uppercase;
                        padding: 5px 10px;
                    }
                    &.active {
                        .name {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                    }
                    .details {
                        border-top: 1px solid #a0a0a0;
                        padding: 10px 10px;
                        display: none;

                    }
                }
                .block_img {
                    width: 100%;
                    .img {
                        width: 100%;
                        height: 100%;
                        max-height: 200px;
                        object-fit: cover
                    }
                }
            }
        }
    }
    .org_options {
        width: 65%;
        .org_title {
            font-family: $robotoSlab;
            font-size: 30px;
            font-weight: bold;
            color: #9e313a;
            text-transform: uppercase;
            display: flex;
            margin-bottom: 10px;
            .arrow {
                font-size: 20px;
                margin: auto 5px;
            }
        }
        .field {
            width: 100%;
            border-radius: 3px;
            border: 1px solid #a0a0a0;
            .title {
                color: #9b3039;
                font-size: 16px;
                font-family: $robotoSlab;
                text-transform: uppercase;
                font-weight: 700;
                background: #F5F5F5;
                padding: 10px 15px;
                border-radius: 3px;
                cursor: pointer;
                &.active {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            .body {
                padding: 15px;
                border-top: 1px solid #a0a0a0;
                .input {
                    display: flex;
                    color: #9e3039;
                    margin-top: 10px;
                    &:first-of-type {
                        margin-top: 0;
                    }
                    input[type="checkbox"] {
                        width: 16px;
                        height: 16px;
                        transition: all 0.3s ease-in-out;
                        position: relative;
                        &:checked {
                            &:before {
                                content: "✔";
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                z-index: 1;
                                background: #9e3039;
                                border-radius: 3px;
                                text-align: center;
                                color: white;
                                font-size: 15px;
                            }
                        }
                    }
                    .label {
                        margin: auto 0;
                    }
                }
            }
        }
    }
    .options {
        width: 34%;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 30px;
        }
        .title {
            font-family: $robotoSlab;
            font-size: 30px;
            font-weight: bold;
            color: #9e313a;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .inputs {
            padding-bottom: 25px;
            border-bottom: 1px solid #eee;
            &:first-of-type {
                border-bottom: 1px solid #eee;
                padding-bottom: 25px;
            }
            .input {
                margin-top: 25px;
                &:first-of-type {
                    margin-top: 0;
                }
                .label {
                    color: #9e3039;
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 7px;
                }
                input, select {
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    width: 100%;
                    padding: 8px 12px;
                    background: white;
                }
                .group {
                    display: flex;
                    input {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                    select {
                        border-left: none;
                        width: 130px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }

        }

        .additional_button {
            cursor: pointer;
            margin-top: 25px;
            border-radius: 5px;
            border: 1px solid #3071a9;
            padding: 6px 12px;
            color: #333333;
            background: white;
            &:hover {
                background: #e6e6e6;
            }
        }
        .actions {
            padding: 25px 10px 10px 0;
            button, a {
                border-radius: 5px;
                padding: 6px 12px;
                cursor: pointer;
                text-decoration: none;
                &.blue {
                    color: white;
                    border: 1px solid #285e8e;
                    background: #428bca;
                    &:hover {
                        background: #3071a9;
                    }
                }
                &.white {
                    color: #333333;
                    background: white;
                    border: 1px solid #adadad;
                    &:hover {
                        background: #e6e6e6;
                    }
                }
            }
        }
        .additional_options {
            display: none;
            margin-top: 25px;
        }
    }
}

.organisation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    .title {
        font-family: $robotoSlab;
        font-size: 30px;
        font-weight: bold;
        color: #9e313a;
        text-transform: uppercase;
    }
    .left {
        width: 65%;
        @media (max-width: 768px) {
            width: 100%;
        }
        .information {
            width: 100%;

            .field {
                .title {
                    font-family: $robotoSlab;
                    font-size: 24px;
                    font-weight: bold;
                    color: #9e313a;
                    text-transform: uppercase;
                }
            }
        }
    }
    .right {
        width: 34%;
        @media (max-width: 768px) {
            width: 100%;
            margin-top: 10px;
        }
        .details {
            margin-top: 10px;
        }
    }
    .field {
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
        b {
            color: #333333;
        }
        ul {
            padding: 0 15px;
            margin: 5px 0 0 0;
        }
    }
}

.organisation_form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    .title {
        font-family: $robotoSlab;
        font-size: 30px;
        font-weight: bold;
        color: #9e313a;
        text-transform: uppercase;
        small {
            font-size: 65%;
            font-family: $robotoSlab;
            font-weight: 400;
        }
    }
    .fields {
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .field {
            border: 1px solid #cccccc;
            border-radius: 5px;
            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &:first-of-type {
                margin-top: 0;
            }
            &.w50 {
                width: 49%;
                @media (max-width: 1200px) {
                    width: 100%;
                }
            }
            .title {
                border-bottom: 1px solid #a0a0a0;
                padding: 10px 15px;
                font-size: 16px;
                background: #F5F5F5;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
            }
            .body {
                width: 100%;
                padding: 10px;
                .title {
                    background: transparent;
                    border: none;
                    padding: 0;
                    margin-bottom: 10px;
                }
                &.w50 {
                    width: 49%;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                }
                .add {
                    background: #3071a9;
                    color: white;
                    border-radius: 3px;
                    border: 1px solid #2f669d;
                    padding: 5px 10px;
                    cursor: pointer;
                }
                .input {
                    margin-bottom: 5px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    &.info_list {
                        display: flex;
                        margin-bottom: 10px;
                        select {
                            width: 100px;
                            margin-right: 10px;
                        }
                        input {
                            margin-right: 10px;
                            &:last-of-type {
                                width: 100px;
                            }
                            &:first-of-type {
                                width: 100%;
                            }
                        }
                        .delete {
                            background: #c9302c;
                            color: white;
                            border-radius: 3px;
                            border: 1px solid #a22a28;
                            cursor: pointer;
                        }
                    }
                    .checkbox_group {
                        display: flex;
                        justify-content: space-between;
                        input[type="checkbox"] {
                            padding: 0;
                            margin: 0;
                        }
                    }
                    .group_select {
                        display: flex;
                        justify-content: flex-start;
                        .block_select {
                            display: flex;
                            margin-right: 30px;
                            .colon {
                                font-weight: bold;
                                margin: auto 5px;
                            }
                        }
                    }
                    .group_input {
                        display: flex;
                        justify-content: space-between;
                        &.two {
                            input {
                                width: 49%;
                            }
                        }
                    }
                }
                .label {
                    font-weight: bold;
                    padding-bottom: 5px;
                }
                select, input, textarea {
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #cccccc;
                    padding: 5px;
                    background: white;
                }
                textarea {
                    resize: vertical;
                }
                select[multiple] {
                    height: 89px;
                    resize: none;
                }
                input {
                    position: relative;
                    &:disabled {
                        background: #cccccc;
                    }
                }
                &.options {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .input {
                        display: flex;
                        width: 33%;
                        input[type="checkbox"] {
                            width: 16px;
                            height: 16px;
                            transition: all 0.3s ease-in-out;
                            position: relative;
                            &:checked {
                                &:before {
                                    content: "✔";
                                    width: 16px;
                                    height: 16px;
                                    position: absolute;
                                    z-index: 1;
                                    background: #9e3039;
                                    border-radius: 3px;
                                    text-align: center;
                                    color: white;
                                    font-size: 15px;
                                }
                            }
                        }
                        .label {
                            margin: auto 0;
                            font-weight: normal;
                            padding-bottom: 0;
                        }
                    }

                }
            }
        }
    }
    .actions {
        padding: 25px 10px 10px 0;
        button, a {
            border-radius: 5px;
            padding: 8px 14px;
            cursor: pointer;
            text-decoration: none;
            &.blue {
                color: white;
                border: 1px solid #357ebd;
                background: #428bca;
                &:hover {
                    background: #3071a9;
                }
            }
            &.white {
                color: #333333;
                background: white;
                border: 1px solid #adadad;
                &:hover {
                    background: #e6e6e6;
                }
            }
        }
    }
}
