._pagination {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    li {
        list-style: none;
        color: #23527c;
        background: white;
        border: 1px solid #a0a0a0;
        border-right: none;
        display: flex;
        &:first-of-type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-of-type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-right: 1px solid #a0a0a0;
        }
        a {
            padding: 6px 12px;
            color: #23527c;
            text-decoration: none;
            background: transparent;
        }
        &:hover {
            background: #eee;
        }
        &.active {
            cursor: default;
            background: #337ab7;
            a {
                color: white;
            }
        }
    }
}
